html, body {
    height: 100%;
    overflow-y: hidden;
}

.paper{
    padding-top: 5%;
    background-color: #E7ECF6;
    border-radius: 25px;
    height: calc(100% - 100px);
    /* margin-bottom: 22px; */
}
.custom-nav{
    color: #192949;
    font-size: larger;
    font-weight: 600;
}

.custom-nav:hover {
    color: #192949;
}

.custom-sidebar {
    background-color: #192949;
    color: white;
    height:88vh;
    font-size: 16px;
}

.custom-sidebar-item {
    padding: 8px;
}

.nav-link[data-toggle].collapsed:before {
    content: " ▾";
}
.nav-link[data-toggle]:not(.collapsed):before {
    content: " ▴";
}

.sidebar-active {
    background-image: linear-gradient(to right, #2C578A, #20849C);
}

.custom-button {
        background-image: linear-gradient(to right, #2C578A, #20849C);
        color: white;
        font-size: 15;
        font-weight: bold;
        padding: 0 50px;
        border-radius: 50px;
        height: 56px;
        margin: 0 60px;
}
.A{
    display: inline-block;
    padding-bottom: 60px;
}
.B{
    display: inline-block;
    padding-left: 500px;
}