html, body {
    height: 100%;
    overflow-y: hidden;
}

.paper{
    background-color: #E7ECF6;
}
.custom-nav{
    color: #192949;
    font-size: larger;
    font-weight: 600;
}

.custom-nav:hover {
    color: #192949;
}

.custom-sidebar {
    background-color: #192949;
    color: white;
    height:88vh;
    font-size: 16px;
}